/** 
	NOTE: Please only add styling for global html tags here (when necessary).
	For custom classes, please use styled-components instead.
**/

body {
	font-family: 'Playfair Display', serif;
	color: white;
}

html,body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden; 
	overflow-y: hidden;
    overscroll-behavior: none;
    height: 100vh;
}